/* Style the body */

html{
  height: 100%;
}

body {
    
  height: 100%;
  background-color:goldenrod;
  background-size:20%;
  font-family: "Times New Roman", Times, serif;
  margin:0;
}
  
  
  /* Page Content */
  .content {
    text-align: center;
    font-size: 30px;
    height: 100%;
    padding:50px;
    background-color:goldenrod;
    margin:0px 250px;  
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    font-size:16px;
    list-style-type: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:goldenrod;
  }
  
  .active {
    background-color:goldenrod;
  }
  
    
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .footer{
      display:flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color:black;
    height: 200px;
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
    object-fit: contain;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: default;
    top: 100px 200px;
    widows: 60px;
    padding: 5px;
    margin-top: 100px;
    color:white;
    width: 100px;
    font-size: 20px;
    border-radius: 150px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right:10px;
    border-radius:150px;
    width: 100;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color:black;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color:goldenrod;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color:goldenrod;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  

  .img-arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color:goldenrod;
    padding: 20px;
  }
  h2 {
    display:contents;
    text-align: left;
    font-size: 35px;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 50px;
}
p {
  display:contents;
  font-weight: bold;
  font-family: fantasy;
  color:white;
  margin: 100px;
  font-size: 18px;
}
.container{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;  
  padding: 0px 0px;
}
.details > summary {
  padding: 4px;
  width: 50px;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 2px white;
  cursor: pointer;
}

.details > p {
  background-color:white;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px white;
}
.container{
  font-family: fantasy;
  color: white;
}
h3 {
 font-family: 'Times New Roman', Times, serif;
 color: white;
 font-weight: bold;
 text-align:center;
 font-size: 20px;
}
h4 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:darkred;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
  text-align: center;
  font-size: 25px;
}
